@{
    ViewData["Title"] = "О сайте";
}
<h2>@ViewData["Title"]</h2>

<p>
    Данный сайте предоставляет фильмы под настроение и время года. Вы можете выбрать фильмы, которые пользователи
    посчитали очень неплохими для определенного времени года и настроения
</p>
<hr />
<p>
    В будущем на данном сайте появятся фильтры, с помощью которых вы сможете прямо подобрать из базы необходимое кино.
</p>
<hr />
<p>
    Очень надеюсь, что этот ресурс кому-то понадобиться, как и его фунционал.
</p>